<div class="navbar">
  <div class="navbar-logo">
    <%= cl_image_tag("awesome-garage-long-white_bbegcx", style: "margin-left: 20px;", width: 150) %>
  </div>

  <div>
    <%= link_to "All Cars", cars_path %>
    <%= link_to "My Garage", favourites_path %>

  </div>
</div>
